# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.db

# Virtual Environment
venv/
env/

# IDEs
.vscode/
.idea/

# Database Files
*.sqlite3
*.db

# FastAPI
*.log

# OS-specific
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
